 .contact-info {
     text-align: center;
}
 .facebook-color {
     color: #4167B2;
}
 .linkedIn-color {
     color: #0375B4;
}
 .instagram-color {
     color: #B22AB0;
}
 .google-color {
     color: #DE4C3F;
}

.github-color {
    color: #000000;
}

 .mail-color, .hr-color {
     color: #495867;
     border-color: #AEB7B3;
}
 .nav-color{
     color:#fff!important;
     background-color:#222222!important 
}
 .nav-hover-color:hover{
     color:#222222!important;
     background-color:#fff!important 
}
 .mobile-hover-link:hover{
     color:#222222!important;
     background-color:#fff!important 
}
 .skills-spacing {
     margin-top:8px!important;
     margin-bottom:8px!important 
}
 .skills-div-spacing {
     margin-bottom:35px!important 
}
 #webdesign-section {
     margin-bottom:0px!important 
}
 .skillColor1{
     color:#fff!important;
     background-color:#B9063D!important 
}
 .skillColor2{
     color:#fff!important;
     background-color:#C73763!important 
}
 .skillColor3{
     color:#fff!important;
     background-color:#D5698A!important 
}
 .skillColor4{
     color:#fff!important;
     background-color:#E39BB1!important 
}
 .skillColor5{
     color:#fff!important;
     background-color:#EAB4C4!important 
}
 .backgroundGrey{
     color:#fff!important;
     background-color:#2A2A2A!important 
}
 .bold {
     font-weight: bold;
}
 .margin-0 {
     margin-top:0px!important;
     margin-bottom:0px!important;
}
 .margin-2 {
     margin-top:2px!important;
     margin-bottom:2px!important;
}
 .margin-3 {
     margin-top:3px!important;
     margin-bottom:3px!important;
}
 .margin-4 {
     margin-top:4px!important;
     margin-bottom:4px!important;
}
 .margin-8 {
     margin-top:8px!important;
     margin-bottom:8px!important;
}
 .margin-10 {
     margin-top:10px!important;
     margin-bottom:10px!important;
}
 .margin-10-top {
     margin-top:10px!important;
}
 .margin-16 {
     margin-top:16px!important;
     margin-bottom:16px!important;
}
 .margin-16-bottom {
     margin-bottom:16px!important;
     margin-top:0px!important;
}
 .margin-32 {
     margin-top:32px!important;
     margin-bottom:32px!important;
}

 .margin-24-bottom {
     margin-top:0px!important;
     margin-bottom:24px!important;
}

 .margin-36-bottom {
     margin-bottom:36px!important;
}
 .margin-4-top {
     margin-top:4px!important;
}
 .padding-0 {
     padding-top:0px!important;
     padding-bottom:0px!important;
}
 .padding-4 {
     padding-top:4px!important;
     padding-bottom:4px!important;
}
 .padding-8 {
     padding-top:8px!important;
     padding-bottom:8px!important;
}
 .padding-16 {
     padding-top:16px!important;
     padding-bottom:16px!important;
}
 .padding-16-top {
     padding-top:16px!important;
}
 .padding-16-all {
     padding-top:12px!important;
     padding-right:18px!important;
     padding-bottom:12px!important;
     padding-left:18px!important;
}
 .padding-20 {
     padding-top:20px!important;
     padding-bottom:20px!important;
}
 .padding-20-top {
     padding-top:20px!important;
}
 .padding-24 {
     padding-top:24px!important;
     padding-bottom:24px!important;
}
 .padding-24-top {
     padding-top:24px!important;
}
 .padding-32 {
     padding-top:32px!important;
     padding-bottom:32px!important;
}
 .padding-32-top {
     padding-top:32px!important;
}
 .padding-portfolio {
     padding-right:0px!important;
     padding-left: 0px!important;
}
 #resume {
     -webkit-animation-iteration-count: 2;
}
 .w3-modal{
     z-index:3;
     display:none;
     padding-top:8%;
     position:fixed;
     left:0;
     top:0;
     width:100%;
     height:100%;
     overflow:auto;
     background-color:#495867;
     background-color:rgba(34,34,34,1.0) 
}
 .paragraph-space {
     line-height: 1.6;
}
 @media (max-width: 1100px) {
     .maps {
         display: block;
         width:100%!important;
         padding: 0px;
         margin-top: 20px;
    }
     .mobile-custom-font {
         font-size: 11px;
    }
}
 @media (max-width: 600px) {
     .mobile-custom {
         display: block;
         width:100%!important;
         margin-top: 40px;
    }
     .mobile-custom-font {
         font-size: 11px;
    }
     .mobile-custom-font-2 {
         font-size: 35px!important;
    }
}
 .font-13-half{
     font-size:13.5px!important 
}
 .font-16{
     font-size:16px!important 
}
 